html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #4A4A4A;
}
h1 {
    font-family: CenturyGothic-Bold, sans-serif;
    font-size: 36px;
}

#app {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DFDCDC));
    height: 100%;
}
