{
  "plugins": [
	  "@babel/plugin-proposal-class-properties",
	  "@babel/plugin-proposal-object-rest-spread"
//	  "syntax-async-functions",
//	  "transform-async-to-generator",
//	  "transform-regenerator"
  ],
  "presets": [
	  "@babel/env",
	  "@babel/react"
  ]
}
